relay_socket_220V/Visual Micro/Compile.vmps.xml
prototype board.psd
.vscode/c_cpp_properties.json
_4_7segment_display/_4_7segment_display.ino
box_rfid/box_rfid.ino
climat/climat - backup.ino
climat/climat.cwz
climat/climat.fzz
climat/climat.ino
climat/climat.ms13
climat/climat.ms13 (Security copy)
climat/climat.xlsx
climat/Rotary Encoder with Knob.fzpz
Component datasheets/1N60A n-mosfet.pdf
Component datasheets/74HC_HCT595 shift register.pdf
Component datasheets/74HC4051 Analog MUX.pdf
Component datasheets/78l05l voltage regulator.pdf
Component datasheets/ads1115.pdf
Component datasheets/AH3503 Linear Hall Effect Sensor.pdf
Component datasheets/arduino nano.png
Component datasheets/Arduino Pro Micro.png
Component datasheets/C8050 amp transistor.pdf
Component datasheets/d1-mini-esp8266-board-sh_fixled.jpg
Component datasheets/D882 transistor.pdf
Component datasheets/GT2560 LCD PIN.jpg
Component datasheets/GT2560 SD PIN.jpg
Component datasheets/h2907a pnp transistor.pdf
Component datasheets/HD74LS194A shift register.pdf
Component datasheets/irf530n mosfet.pdf
Component datasheets/irf1010e mosfet.pdf
Component datasheets/irl8113 mosfet.pdf
Component datasheets/KSP44 npn transistor.pdf
Component datasheets/lm78l05 regulator.pdf
Component datasheets/lm317t regulator.pdf
Component datasheets/lm324l opamp.pdf
Component datasheets/LM324N_and_LM324P amplifier.pdf
Component datasheets/LM339N-datasheet comparator.pdf
Component datasheets/LM393P-datasheet comparator.pdf
Component datasheets/MCR100-8.PDF
Component datasheets/Mega2560_R3_Label-small-v2.png
Component datasheets/MPS2907A-D transistor.PDF
Component datasheets/MPU6050-Arduino-Uno-Connections.jpg
Component datasheets/n5551 transistor.pdf
Component datasheets/ne555 timer.pdf
Component datasheets/nRF24L01_Product_Specification_v2_0.pdf
Component datasheets/Nrf24L01-2.4GHz.html
Component datasheets/nRF2401A.pdf
Component datasheets/pdf-IR-877558.pdf
Component datasheets/PN532_ RFID.pdf
Component datasheets/S8550 transistor.pdf
Component datasheets/sg2524 pwm.pdf
Component datasheets/SS41 Hall Latch Sensor.pdf
Component datasheets/U03N60S5 pnp transistor.pdf
Component datasheets/yl303h relay.pdf
Component datasheets/esp8266/Due_8266.png
Component datasheets/esp8266/esp8266_pinout_h-569x236.png
Component datasheets/esp8266/ESP8266ArduinoUNO_WiringDiagram.png
Component datasheets/esp8266/ESP8266ATCommandsSet.pdf
Component datasheets/esp8266/FC5FW5JIGHOIQAH.LARGE.jpg
Component datasheets/esp8266/esp8266/esp8266.ino
Component datasheets/esp8266/esp8266/esp8266.ino7044474099791306529.tmp
Component datasheets/HC_06 Settings/baud.txt
Component datasheets/HC_06 Settings/HC-0305_serail_module_AT_commamd.pdf
Component datasheets/HC_06 Settings/HC_06_Settings/HC_06_Settings.ino
Component datasheets/HC_06 Settings/HC_06_Settings_ino/HC_06_Settings_ino.ino
Component datasheets/Nrf24L01-2.4GHz_files/2RoboR-Nrf-1-1024.jpg
Component datasheets/Nrf24L01-2.4GHz_files/07z93j80.gz.js
Component datasheets/Nrf24L01-2.4GHz_files/9q897620-internal-bootstrap.css
Component datasheets/Nrf24L01-2.4GHz_files/9vz070xj-common.min.js
Component datasheets/Nrf24L01-2.4GHz_files/24L01Pinout-800.jpg
Component datasheets/Nrf24L01-2.4GHz_files/85k7018k-stream.min.js
Component datasheets/Nrf24L01-2.4GHz_files/91k8z207-contentbar.min.js
Component datasheets/Nrf24L01-2.4GHz_files/395j1vq7-component.stream-vo.min.js
Component datasheets/Nrf24L01-2.4GHz_files/03083kx7-editorc.min.js
Component datasheets/Nrf24L01-2.4GHz_files/221909772-217420326D.gz.css
Component datasheets/Nrf24L01-2.4GHz_files/blank.html
Component datasheets/Nrf24L01-2.4GHz_files/by-nc_3.0_80x15.png
Component datasheets/Nrf24L01-2.4GHz_files/ga.js
Component datasheets/Nrf24L01-2.4GHz_files/j91xzz3x-top.min.js
Component datasheets/Nrf24L01-2.4GHz_files/logo.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nRF-Amp-Cable-1-1024.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nRF-Amp-Kit-1-1024.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nRF-Base-Cable-1-1024.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nRF-Kit-1-1024.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nRF24L01-3.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nRF24L01-4.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nRF24L01-5.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nRF24L01-LN-PA-1.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nRF24L01-LN-PA-2.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nRF24L01-PA-LNA-ANT.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nrf24l01-socket-8-pin.jpg
Component datasheets/Nrf24L01-2.4GHz_files/nrf24l01-socket-8-pin(1).jpg
Component datasheets/Nrf24L01-2.4GHz_files/NRF24L012_BottomView.jpg
Component datasheets/Nrf24L01-2.4GHz_files/RoboR-nRF-cable-1-1024.jpg
Component datasheets/Nrf24L01-2.4GHz_files/TerryKing-lg.jpg
Component datasheets/Nrf24L01-2.4GHz_files/user_none_lg.jpg
Component datasheets/Nrf24L01-2.4GHz_files/vz033906-internal.css
Entry_Check/Entry_Check.ino
General_Repeater/General_Repeater.ino
imobil/imobil.ino
LCDAssistant/LCDAssistant.exe
Other/KDZ UPDATER.7z
Other/NFC_Module_DEV-HSU.zip
Other/PN532_ Manual_V3.pdf
Other/PN532_NFC_elechouse.rar
Other/PN532-PN532_HSU.zip
PC_Switch/PC_Switch.ino
piezo knock/sketch_dec20a/sketch_dec20a.ino
Relay Socket/android_timed_relay
Relay Socket/ArduinoTimedRelay.apk
Relay Socket/arduinotimedrelay.jpg
Relay Socket/ArduinoTimedRelayV2/.classpath
Relay Socket/ArduinoTimedRelayV2/.project
Relay Socket/ArduinoTimedRelayV2/AndroidManifest.xml
Relay Socket/ArduinoTimedRelayV2/ic_launcher-web.png
Relay Socket/ArduinoTimedRelayV2/proguard-project.txt
Relay Socket/ArduinoTimedRelayV2/project.properties
Relay Socket/ArduinoTimedRelayV2/.settings/org.eclipse.jdt.core.prefs
Relay Socket/ArduinoTimedRelayV2/bin/AndroidManifest.xml
Relay Socket/ArduinoTimedRelayV2/bin/ArduinoTimedRelayV2.apk
Relay Socket/ArduinoTimedRelayV2/bin/classes.dex
Relay Socket/ArduinoTimedRelayV2/bin/jarlist.cache
Relay Socket/ArduinoTimedRelayV2/bin/R.txt
Relay Socket/ArduinoTimedRelayV2/bin/resources.ap_
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$anim.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$attr.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$bool.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$color.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$dimen.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$drawable.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$id.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$integer.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$layout.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$string.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$style.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/android/support/v7/appcompat/R$styleable.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/BuildConfig.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/ConnectActivity.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/ConnectActivity$1.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/ConnectActivity$2.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/ConnectActivity$PlaceholderFragment.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/MainActivity.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/MainActivity$1.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/MainActivity$2.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/MainActivity$3.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/MainActivity$4.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/MainActivity$5.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/MainActivity$6.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/MainActivity$7.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/MainActivity$8.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/MainActivity$PlaceholderFragment.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/OpenCloseTime.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/OpenCloseTime$1.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/OpenCloseTime$PlaceholderFragment.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$anim.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$attr.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$bool.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$color.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$dimen.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$drawable.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$id.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$integer.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$layout.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$menu.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$string.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$style.class
Relay Socket/ArduinoTimedRelayV2/bin/classes/com/ls/arduinotimedrelay/R$styleable.class
Relay Socket/ArduinoTimedRelayV2/bin/dexedLibs/android-support-v4-3bd233d8834537bda4c4e358e1fcfd7d.jar
Relay Socket/ArduinoTimedRelayV2/bin/dexedLibs/android-support-v4-150217e70fac54235fd5b6cc813c683e.jar
Relay Socket/ArduinoTimedRelayV2/bin/dexedLibs/android-support-v7-appcompat-c2e4ee65ca3f4038d59301d65d18a8f7.jar
Relay Socket/ArduinoTimedRelayV2/bin/dexedLibs/annotations-23306d58b89c9a8e6e1479880a70ed77.jar
Relay Socket/ArduinoTimedRelayV2/bin/dexedLibs/appcompat_v7-80c00fa8cfbb434e72c8b7242b391a1e.jar
Relay Socket/ArduinoTimedRelayV2/bin/res/crunch/drawable-hdpi/ic_launcher.png
Relay Socket/ArduinoTimedRelayV2/bin/res/crunch/drawable-mdpi/ic_launcher.png
Relay Socket/ArduinoTimedRelayV2/bin/res/crunch/drawable-xhdpi/ic_launcher.png
Relay Socket/ArduinoTimedRelayV2/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
Relay Socket/ArduinoTimedRelayV2/gen/android/support/v7/appcompat/R.java
Relay Socket/ArduinoTimedRelayV2/gen/com/ls/arduinotimedrelay/BuildConfig.java
Relay Socket/ArduinoTimedRelayV2/gen/com/ls/arduinotimedrelay/R.java
Relay Socket/ArduinoTimedRelayV2/libs/android-support-v4.jar
Relay Socket/ArduinoTimedRelayV2/res/drawable-hdpi/ic_launcher.png
Relay Socket/ArduinoTimedRelayV2/res/drawable-mdpi/ic_launcher.png
Relay Socket/ArduinoTimedRelayV2/res/drawable-xhdpi/ic_launcher.png
Relay Socket/ArduinoTimedRelayV2/res/drawable-xxhdpi/ic_launcher.png
Relay Socket/ArduinoTimedRelayV2/res/layout/activity_connect.xml
Relay Socket/ArduinoTimedRelayV2/res/layout/activity_main.xml
Relay Socket/ArduinoTimedRelayV2/res/layout/activity_open_close_time.xml
Relay Socket/ArduinoTimedRelayV2/res/layout/fragment_connect.xml
Relay Socket/ArduinoTimedRelayV2/res/layout/fragment_main.xml
Relay Socket/ArduinoTimedRelayV2/res/layout/fragment_open_close_time.xml
Relay Socket/ArduinoTimedRelayV2/res/menu/connect.xml
Relay Socket/ArduinoTimedRelayV2/res/menu/main.xml
Relay Socket/ArduinoTimedRelayV2/res/menu/open_close_time.xml
Relay Socket/ArduinoTimedRelayV2/res/values/dimens.xml
Relay Socket/ArduinoTimedRelayV2/res/values/strings.xml
Relay Socket/ArduinoTimedRelayV2/res/values/styles.xml
Relay Socket/ArduinoTimedRelayV2/res/values-v11/styles.xml
Relay Socket/ArduinoTimedRelayV2/res/values-v14/styles.xml
Relay Socket/ArduinoTimedRelayV2/res/values-w820dp/dimens.xml
Relay Socket/ArduinoTimedRelayV2/src/com/ls/arduinotimedrelay/ConnectActivity.java
Relay Socket/ArduinoTimedRelayV2/src/com/ls/arduinotimedrelay/MainActivity.java
Relay Socket/ArduinoTimedRelayV2/src/com/ls/arduinotimedrelay/OpenCloseTime.java
Relay Socket/relay_socket_220V_v1/relay_socket_220V_v1.ino
Relay Socket/relay_socket_220V_v1/relay_socket_220V_v1.sdf
Relay Socket/relay_socket_220V_v1/relay_socket_220V_v1.suo
Relay Socket/relay_socket_220V_v1/relay_socket_220V_v1.vcxproj
Relay Socket/relay_socket_220V_v1/relay_socket_220V_v1.vcxproj.filters
Relay Socket/relay_socket_220V_v1/relay_socket_220V_v1.vcxproj.user
Relay Socket/relay_socket_220V_v1/IRrecord/IRrecord.ino
Relay Socket/relay_socket_220V_v1/Visual Micro/.relay_socket_220V_v1.vsarduino.h
Relay Socket/relay_socket_220V_v1/Visual Micro/Compile.vmps.xml
Relay Socket/relay_socket_220V_v1/Visual Micro/Configuration.Debug.vmps.xml
Relay Socket/relay_socket_220V_v1/Visual Micro/Upload.vmps.xml
relay_socket_220V/relay_socket_220V.ino
relay_socket_220V/relay_socket_220V.sdf
relay_socket_220V/relay_socket_220V.suo
relay_socket_220V/relay_socket_220V.vcxproj
relay_socket_220V/relay_socket_220V.vcxproj.filters
relay_socket_220V/relay_socket_220V.vcxproj.user
relay_socket_220V/Visual Micro/.relay_socket_220V.vsarduino.h
relay_socket_220V/Visual Micro/Configuration.Debug.vmps.xml
relay_socket_220V/Visual Micro/Upload.vmps.xml
sketch_jan21b_ino/sketch_jan21b_ino.ino
sketch_jul22a/sketch_jul22a.ino
sketch_jun13a/sketch_jun13a.ino
sketch_may01a/sketch_may01a.ino
stepper/stepper.ino
temp/temp.ino
temperature/temperature.ino
two_relay_car/two_relay_car.ino
two_relay_remote/two_relay_remote.ino
visual_basic/visual_basic.ino
